<%- include('includes/header.ejs') %>
<div class="container-fluid">
    <form action="/create-post" method="POST">
        <div class ="form-col">
            <label for="title">Title: 
                <input type="text"  class="form-control" aria-label="title" aria-describedby="inputTitle"
                placeholder="Enter Title" id="inputTitle" name="title"></label>
            <br>
            <label for="Post">Post
                <textarea  class="form-control" aria-label="post" aria-describedby="createPost"
                placeholder="Create Post" id="inputPost"  name="body" cols="30" rows="10"></textarea></label>
            <br/>
            <button type="submit" class="btn btn-success">Save New Post</button></div>
    </form>
</div>

<% success.forEach(function(message) { %>

<p><%= message %></p>

<% }) %>

<%- include('includes/footer.ejs') %>