<%- include('includes/header.ejs') %>

<form action="/register" method="POST">
    <label for="username">Username: <input type="text" name="username"></label>
    <label for="email">Email: <input type="text" name="email"></label>
    <label for="password">Pasword: <input type="password" name="password"></label>
    <button type="submit">Register</button>
</form>

<%- include('includes/footer.ejs') %>