<%- include('includes/header.ejs') %>

<div class="center">
    <!-- flash errors -->
    <% errors.forEach(function(message) { 
    %>
    <p class="alert alert-danger" role="alert"><%= message %></p>
    <% }) %>

    <form action="/login" method="POST">
        <div class="form-group">

            <input type="text" class="form-control" aria-label="Username" aria-describedby="inputUsername"
                placeholder="Enter Username" id="inputUsername" name="username" autocomplete="username">
            <br />

            <input type="password" class="form-control" aria-label="Password" aria-describedby="inputPassword"
                placeholder="Enter Password" id="inputPassword" name="password" autocomplete="current-password">
            <br />
            <button type="submit" class="btn btn-success ">Login</button>
            <a class="btn btn-primary " href="/registration" role="button">Register</a>
        </div>

    </form>
</div>

<%- include('includes/footer.ejs') %>