<%- include('includes/header.ejs') %>
<div>
    <form action="/logout" method="POST">
        <div class="form-group">
            <input type="hidden" name="" value="">
            <button type="submit" class="btn btn-danger float-right">Log Out</button>
        </div>
    </form>
    <a class="btn btn-info float-left" href="/create-post" role="button">Create Post</a>
</div>

<div>
    <p>Hi <strong><%= username %></strong>, nice to see you back</p>
    <p>Below are all of your posts:</p>
</div>

<div>
    <table>
        <tbody>
            <tr>
                <th>Blog Title</th>
                <th>Blog Content</th>
                
            </tr>

            <tr>
                <td>Some Title</td>
                <td>Some Content</td>

            </tr>
        </tbody>
    </table>
</div>

<%- include('includes/footer.ejs') %>