<%- include('includes/header.ejs') %>
<div>
    <form action="/logout" method="POST">
        <div class="form-group">
            <input type="hidden" name="" value="">
            <button type="submit" class="btn btn-danger float-right">Log Out</button>
        </div>
    </form>
    <a class="btn btn-info float-left" href="/create-post" role="button">Create Post</a>
</div>

<%- include('includes/footer.ejs') %>
